<app-spinner *ngIf="isLoading"></app-spinner>

<div id="margins" class="custom-mat-elevation-z8" *ngIf="!isLoading">
    <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" matSort>

        <div *ngFor="let item of total; let rowIndex = index">
            <ng-container [matColumnDef]="displayedColumns[rowIndex]">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{displayedColumns[rowIndex]}}</th>
                <td mat-cell *matCellDef="let tableData"> {{tableData[displayedColumns[rowIndex].charAt(0).toLowerCase() + displayedColumns[rowIndex].substr(1)]}}</td>
            </ng-container>
        </div>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>
                <i class="material-icons">
                    edit
                </i>
            </th>
            <td mat-cell *matCellDef="let tableData; let rowIndex = index">
                <button mat-button type="button" [@mouseState]="mouseState[0][rowIndex]" (mouseenter)="toggleMouseState(0, rowIndex)"
                    (mouseleave)="toggleMouseState(0, rowIndex)" (click)="edit(tableData)" [disabled]="!isEditable">Editar</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>
                <i class="material-icons">
                    delete
                </i>
            </th>
            <td mat-cell *matCellDef="let tableData; let rowIndex = index">
                <button mat-button type="button" [@mouseState]="mouseState[1][rowIndex]" (mouseenter)="toggleMouseState(1, rowIndex)"
                    (mouseleave)="toggleMouseState(1, rowIndex)" (click)="askDelete($event,tableData)" [disabled]="!isEditable">Borrar</button>
            </td>
        </ng-container>

                <ng-container matColumnDef="solve">
            <th mat-header-cell *matHeaderCellDef>
                <i class="material-icons">
                    check
                </i>
            </th>
            <td mat-cell *matCellDef="let tableData; let rowIndex = index">
                <button mat-button type="button" [@mouseState]="mouseState[1][rowIndex]" (mouseenter)="toggleMouseState(1, rowIndex)"
                    (mouseleave)="toggleMouseState(1, rowIndex)" (click)="askSolve($event,tableData, rowIndex)" [disabled]="!isSolveable">Completar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <button mat-raised-button id="newPerson" *ngIf="!isLoading && isCreable" type="button" (click)="edit(null)"
        [@mouseState]="mouseState[2][0]" (mouseenter)="toggleMouseState(2, 0)" (mouseleave)="toggleMouseState(2, 0)">
        Nuevo {{tipoNuevo}}
        <i class="material-icons">
            person_add
        </i>
    </button>

    <mat-paginator *ngIf="!isLoading" [pageSizeOptions]="[rowNumber]" showFirstLastButtons></mat-paginator>

</div>

<p-confirmDialog [closable]="false" header="Confirmation" acceptLabel="Si" rejectLabel="Cancelar" icon="pi pi-exclamation-triangle"
    width="400">