<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>School Angular</span>

    <button mat-button routerLink="empleados" >Empleados
      <i class="material-icons">
        people
      </i>
    </button>

        <button mat-button routerLink="incidencias" >Incidencias
      <i class="material-icons">
        people
      </i>
    </button>

        <button mat-button routerLink="eventos" >Eventos
      <i class="material-icons">
        people
      </i>
    </button>

        <button mat-button routerLink="ranking" >Ranking
      <i class="material-icons">
        people
      </i>
    </button>

  </mat-toolbar-row>

</mat-toolbar>
